


    <footer>


        <div class="container center-align purple-text text-darken-4">
            © 2016 Copyright all rights reserved - design by
            <a href="{{ asset('http://www.wildcodeschool.fr') }}" class="purple-text text-darken-4">
                <span id="wild">&nbsp; Wild Code School.</span></a>
            <a href="{{ path('family_mention') }}" class="purple-text text-darken-4"><span id="">&nbsp; Mention Légales.</span></a>
        </div>



    </footer>
