{%extends 'base.html.twig'%}
{% block title %}Maps Events{% endblock %}
{% block stylesheet%}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/materialize.min.css') }}" media="screen,projection">

    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/family/css/main.css') }}">
{% endblock %}


{% block body %}
    {% include "@Family/Default/nav.html.twig"  %}

    <h1>Maps Events :</h1>
    <div>Reel event</div>
    <div id="map"></div>



    {% include "@Family/Default/footer.html.twig"  %}
{% endblock %}
{% block js %}
    <script type="text/javascript">

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 12
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7hklkFjuJH0suuR_ni4Jl7_sPnjHEfPk&callback=initMap">
    </script>
{% endblock %}