/*----- INDEX  ------
//
// 1. IMAGE
// 2.
// 3.
// 4.
---------------------*/

/************************************
*                                   *
*            1. IMAGE               *
*                                   *
************************************/

/*body {*/
    /*display: flex;*/
    /*min-height: 100vh;*/
    /*flex-direction: column;*/
/*}*/

/*main {*/
    /*flex: 10 auto;*/
/*}*/

.imgmenu
{
    width: 100px;
    height: 100px;
}
.imgwall
{
    background: url("../images/userl.png") no-repeat center fixed;
}

nav{
    /*background-color: orange !important;*/
}
.nav_bar_logo, .nav_bar_burger{
    height: 100%;
}
.nav_bar_logo img, .nav_bar_burger img{
    height:100%;
}


.brand-logo {
 color:white !important;
}


/* Vue responsive */
@media screen and (max-width: 992px) {
    .button-collapse{
        float: right !important;
        margin-right: 10px;
    }
    .nav_bar_logo{
        position: initial !important;
        display: initial !important;
    }
    .titre_reponsive{
        display: initial !important;
    }
    /*nav{*/
        /*background-color: purple !important;*/
    /*}*/
    /*nav a{*/
        /*color: white !important;*/
    /*}*/
/*}*/