/*----- INDEX  ------
//
// 1. A Link
// 2. Images
// 3. Nav
// 4. Responsive
---------------------*/

/*body {*/
/*display: flex;*/
/*min-height: 100vh;*/
/*flex-direction: column;*/
/*}*/

/*main {*/
/*flex: 10 auto;*/
/*}*/

/************************************
*                                   *
*            1. A link              *
*                                   *
************************************/



/* unvisited link */
a:link {
    color: blue !important;
    /*background-color: red;*/
    /*padding: 14px 25px;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
}

/* visited link */
a:visited {
    color: green !important;
}

/* mouse over link */
a:hover {
    color: red !important;
}

/* selected link */
a:active {
    color: purple !important;
}


/************************************
*                                   *
*            2. IMAGE               *
*                                   *
************************************/

.imgmenu
{
    width: 100px;
    height: 100px;
}


/************************************
*                                   *
*            3. NAV                 *
*                                   *
************************************/

.nav_bar_logo, .nav_bar_burger{
    height: 100%;
}
.nav_bar_logo img, .nav_bar_burger img{
    height:100%;
}

/************************************
*                                   *
*            4. Responsive          *
*                                   *
************************************/

/* Vue responsive */
@media screen and (max-width: 992px) {
    .button-collapse{
        float: right !important;
        margin-right: 10px;
    }
    .nav_bar_logo{
        position: initial !important;
        display: initial !important;
    }
    .titre_reponsive{
        display: initial !important;
    }

}